tox
yamllint            # Package and CLI Linter for *.yaml files
pytest>=7.0.0
pytest-xdist
pytest-env          # plugin to allow passing environment variable to pytest environmentt
pytest-cov          # Test coverage
pytest-dotenv       # plugin to load environment from .env file
pytest-black
pytest-reraise
pytest-mock         # plugin that provides a mocker fixture which is a thin-wrapper around the patching API provided by the mock package
requests-mock
requests_file

validators          # a package containing several validator functions

hypothesis          # plugin that helps in automatize generating random values instead of static values in pyttests

lorem-text          # generate dummy text
wonderwords         # generate words, sentences, etc.